@charset "UTF-8";

body{
    background: black url(imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
}

.icons{
    border-radius: 50%;
    width: 55px;
    
}

.content{
    height: 97vh;
    position: relative;

}

.content > .sidebar{
    width: 44px;
    padding: 20px;
    text-align: right;
}

.content > .iphone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 1;
    
}



iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 266px;
    height: 471px;
    
}