@charset "UTF-8";

body{
    background: black url(imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
}

.icons{
    border-radius: 50%;
    width: 45px;
    
}

.sidebar{
    width: 44px;
    padding: 10px;
    text-align: left;
}

.iphone{
    position: relative;
}

img{
    position: absolute;
    left: 50%;
}